body {
    background-color: #000000;
}

.search {
    cursor: pointer;
}

.home {
    cursor: pointer;
}

.card {
    cursor: pointer;
}

#input-artista {
    margin: 50px;
    height: 35px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 7px;
}