body {
    background-color: #000000;
}

.contenedor {
    /*color: #FFFFFF;*/
    flex-direction: column-reverse;
}

.contenedor .loading {
    text-align: center;
    color: #FFFFFF;
}

.search {
    cursor: pointer;
}

.home {
    cursor: pointer;
}

.card {
    cursor: pointer;
}

#input-artista {
    margin: 50px;
    height: 35px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 7px;
}